@font-face {
    font-family: 'Montserrat Regular';
    src: url('./src/fonts/montserratRegular/montserratRegular.eot');
    src: url('./src/fonts/montserratRegular/montserratRegular.eot') format('embedded-opentype'),
    url('./src/fonts/montserratRegular/montserratRegular.woff') format('woff'),
    url('./src/fonts/montserratRegular/montserratRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Montserrat Bold';
    src: url('./src/fonts/montserratBold/montserratBold.eot');
    src: url('./src/fonts/montserratBold/montserratBold.eot') format('embedded-opentype'),
    url('./src/fonts/montserratBold/montserratBold.woff') format('woff'),
    url('./src/fonts/montserratBold/montserratBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Regular';
    src: url('./src/fonts/ralewayRegular/ralewayRegular.eot');
    src: url('./src/fonts/ralewayRegular/ralewayRegular.eot') format('embedded-opentype'),
    url('./src/fonts/ralewayRegular/ralewayRegular.woff') format('woff'),
    url('./src/fonts/ralewayRegular/ralewayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Raleway Medium';
    src: url('./src/fonts/ralewayMedium/ralewayMedium.eot');
    src: url('./src/fonts/ralewayMedium/ralewayMedium.eot') format('embedded-opentype'),
    url('./src/fonts/ralewayMedium/ralewayMedium.woff') format('woff'),
    url('./src/fonts/ralewayMedium/ralewayMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Bold';
    src: url('./src/fonts/merriweatherBold/merriweatherBold.eot');
    src: url('./src/fonts/merriweatherBold/merriweatherBold.eot') format('embedded-opentype'),
    url('./src/fonts/merriweatherBold/merriweatherBold.woff') format('woff'),
    url('./src/fonts/merriweatherBold/merriweatherBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Regular';
    src: url('./src/fonts/merriweatherRegular/merriweatherRegular.eot');
    src: url('./src/fonts/merriweatherRegular/merriweatherRegular.eot') format('embedded-opentype'),
    url('./src/fonts/merriweatherRegular/merriweatherRegular.woff') format('woff'),
    url('./src/fonts/merriweatherRegular/merriweatherRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.montserrat-regular {
    font-family: 'Montserrat Regular';
}

.montserrat-bold {
    font-family: 'Montserrat Bold';
}

.raleway-regular {
    font-family: 'Raleway Regular';
}

.raleway-medium {
    font-family: 'Raleway Medium';
}

.merriweather-bold {
    font-family: 'Merriweather Bold';
}

.merriweather-regular {
    font-family: 'Merriweather Regular';
}

body {
    width: 1440px;
    margin: 0 auto;
}

.header-column {
    display: flex;
    flex-direction: column;
    height: 806px;
    background-image: url("./src/img/backSay.png");
}

.logo-row {
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    margin-left: 150px;
}

.text-logo {
    height: 46px;
    width: 113px;
    border: 6px solid rgb(0,0,51);
    font-size: 17px;
    line-height:28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.letter-o {
    font-size: 21px;
    line-height:28px;
    color: rgb(102, 255, 204);
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 150px;
    cursor: pointer;
}

.burger-window {
    display: none;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    text-align: center;
}

.burger-window > a {
    text-decoration: none;
    color: rgb(102,102,102); 
    text-transform: uppercase; 
}

.show {
    display: block;
}

.line {
  width: 30px;
  height: 5px;
  background-color: rgb(102, 102, 102);
  margin-top: 5px;
}

.text-row {
    height: 444px;
    font-size: 45px;
    color: rgb(102,102,102);
    text-transform: uppercase;
    text-shadow: 2px 10px 6px rgb(204 204 204);
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blue-back {
    background-color: rgb(153, 204, 204);
}

.juice-row {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-us {
    margin:0 190px 0 150px;
}

button[name="button-contact"] {
    width: 232px;
    height: 53px;
    border: 2px solid rgb(102,102,102);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: rgb(102, 102, 102);
    cursor: pointer;
}

.block-about {
    background-image: url(./src/img/backAbout.png);
}

.item-about {
    height: 340px;
    line-height: 28px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-about{
    font-size: 38px;

}

.text-lorem {
    font-size: 18px;
    color: rgb(153,153,153);
}

.table {
    height: 649px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-table {
    width: 580px;
}

.gray-block-wrapper-table{
    width: 485px;
    height: 481px;
    position: relative;
    margin: 0 83px 0 0;
}

.gray-block-table {
    width: 481px;
    height: 413px;
    background: url("./src/img/backTable.png");
    margin: 30px 0 0 0;
}

.img-block-table {
    width: 390px;
    height: 481px;
    background-image: url("./src/img/table.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -35px;
    left: 46px;
    z-index: 100;
}

.text-table {
    width: 480px;
}

.text-table > .actually, .great {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-family: 'Merriweather Bold';
    color: rgb(51,51,51);
}

.text-table > .actually {
    font-size: 20px;
}

.text-table > .great {
    font-size: 17px;
}

.text-table > p {
    font-family: 'Raleway Regular' ;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: rgb(102,102,102);
}

.block-feature > .item-about{
    height: 315px;
}

.img-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box {
    margin: 0 15px 15px 0;
}

.block-services{
    background-image: url("./src/img/backServices.png");
}

.services-column {
    display: flex;
    flex-direction: column;
    height: 1310px;
}

.one-row, .two-row, .three-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.healing-tea {
    height: 422px;
    width: 652px;
    background-image: url("./src/img/healingTea2.png");
}

.tile-gray.tile-show {
    display: flex;
}

.tile-green.tile-show {
    display: flex;
}

.cool-psd {
    height: 422px;
    width: 474px;
    background-image: url("./src/img/coolPsd.png");
}

.computer {
    height: 370px;
    width: 652px;
    background-image: url("./src/img/computer.png");
}

.table-servise {
    height: 370px;
    width: 474px;
    background-image: url("./src/img/table2.png");
}

.bottle {
    height: 370px;
    width: 472px;
    background-image: url("./src/img/bottle.png");
}

.cup {
    height: 370px;
    width: 651px;
    background-image: url("./src/img/cup.png");
}

.tile-gray, .tile-green{
    height: 370px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20px 20px 0;
    position: relative;
    z-index: 1;
}

.tile-green > p{
    color: rgb(37, 37, 37);

}

.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgb(37, 37, 37);
    opacity: .8;
}

.bg-green{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgb(102, 255, 204);
}

.text-heading {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform:uppercase;
}

.text-service {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
}

.text-link {
    font-size: 18px;
    line-height: 85px;
    letter-spacing: 0.04em;
    text-transform:uppercase;
    text-decoration: none;
    cursor: pointer;
}

.text-link-cross {
    color: rgb(153,153,153);
    cursor: pointer;
    margin: 15px 100px 0 65px;
}

.text-heading, .text-service, .text-link {
    color: rgb(255, 255, 255);
    margin: 30px 100px 0 65px;
}

.img-team{
    height: 1015px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team-people {
    height: 440px;
    margin: 20px 20px 0 0;
}

.item-people {
    width: 370px;
    height: 440px;
}

.people1 {
    background-image: url(./src/img/people1.png);
}

.people2 {
    background-image: url(./src/img/people2.png);
}

.people3 {
    background-image: url(./src/img/people3.png);
}

.people4 {
    background-image: url(./src/img/people4.png);
}

.people5 {
    background-image: url(./src/img/people5.png);
}

.people6 {
    background-image: url(./src/img/people6.png);
}

.window {
    display: flex; 
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    color: rgb(51,51,51);
    width: 335px;
    height: 240px;
    background-color: rgb(102, 255, 204);
    position: relative;
    top: -250px;
    left: 20px;
    z-index: 10000;
    visibility: hidden;
}

.window > .rayhan, .text-people, .icon-people {
    margin: 20px 50px 10px 40px;
}

.window > .rayhan{
    font-size: 16px;
}

.window::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent rgb(102, 255, 204);
    border-width: 20px 20px 20px 0;
    top: 10px;
    left: -20px;
}

.team-people:hover .window {
    visibility: visible;
}

.block-review {
    height: 807px;
    background-image: url("./src/img/backWhatTheySays.png");
}

.item-about {
    height: 200px;
}

.img-review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gray-block-wrapper{
    width: 391px;
    height: 415px;
    position: relative;
    margin: 0 83px 0 0;
}

.gray-block {
    width: 391px;
    height: 370px;
    background: url("./src/img/backPeople7.png");
    margin: 22px 0 0 0;
}

.img-block {
    width: 320px;
    height: 415px;
    background-image: url("./src/img/people7.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 35px;
    z-index: 100;
}

.gray-block-text {
    letter-spacing: 0.06em;
    background-image: url("./src/img/backRayhan.png");
    width: 666px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rayhan {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: rgb(51,51,51);
}

.rayhan > span {
    color: rgb(102,102,102);
    font-style: oblique ;
}

.gray-block-text > p {
    font-family: 'Raleway Regular';
    font-size: 16px;
    line-height: 27px;
    margin: 30px 80px 0 80px;
    text-align: center;
}

.block-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.square-button-left > .square{
    background-color: rgb(204, 204, 204);
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 2px;
}

.square-button-right > .square{
    background-color: rgb(255, 255, 255);
    height: 54px;
    width: 54px;
    margin: 0 30px 0 0;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 6px rgb(204 204 204);

}

.square:hover{
    background-color: rgb(102, 255, 204);
}


.block-star {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.star {
    background-image: url("./src/img/star.png");
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.label {
    height: 480px;
    display: flex;
    justify-content: center;
}

.item-label {
    background-image: url("./src/img/logo.png");
    height: 172px;
    width: 1133px;
    margin-top: 154px;
}

.trees {
    position: relative;
    z-index: 1;
    height: 705px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trees .bg {
    position: absolute;
    z-index: -1;
    background-image: url("./src/img/trees.png");
    opacity: .1;
    height: 705px;
    width: 1440px;
}

.message {
    background-color: rgba(51,102,102,.6);
    height: 480px;
    width: 615px;
    margin: 120px 27px 0 0;
}

.input-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    outline: none;
    width: 553px;
    margin: 5px 15px;  
}

input[type="text"],input[type="email"], textarea{
    background-color: rgba(51,102,102,.0);
    height: 62px;
    width: 553px;
    border: none;
    border-bottom: solid 1px rgb(204,204,204);

}

textarea {
    width: 553px; 
    height: 152px;
    resize: none;
}

input[type="submit"] {
    height: 55px;
    width: 250px;
    margin-top: 30px;
    background-color: rgb(102, 255, 204);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: rgb(102, 102, 102);
    border: none;
}

.map {
    background-color: rgba(51,102,102,.6);
    height: 480px;
    width: 500px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-map {
    color: rgb(204,204,204);
    font-size: 15px;
    line-height: 9px;
    margin: 20px 0 0 22px;
}

.img-map {
    background-image: url(./src/img/googleMap.png);
    background-repeat: no-repeat;
    width: 455px;
    height: 254px;
    margin: 30px 0 0 22px;
}

.follow {
    background-image: url(./src/img/backFooter.png);
    height: 312px;
}

.follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(153,153,153);
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
}

.folow-us{
    text-transform: uppercase;
}

.icon {
    display: flex;
    flex-direction: row;
}

.item-icon {
    width: 50px;
    height: 40px;
    background-color: rgb(153,153,153);
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 15px 10px 40px 0;
}

.item-icon:hover {
    background-color: rgb(102, 255, 204);
}

.icon-color {
    color: rgb(204,204,204);
    margin-top: 5px;
}

.item-icon:hover .icon-color {
    color: rgb(51,51,51);
}